.w-full-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.75rem;
}

.commute-time {
  padding-right: 12px;
  padding-bottom: 8px;
}

.font-bold {
  font-weight: bold;
}
